body {
	background: #fff;
	margin: 0;
	padding: 0;
	color: #666;
	font-family: arial;
}

a {
	text-transform: none;
	text-decoration: none;
	color: #666;
}

a:hover {
	text-decoration: none;
	color: #666;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.banner {
	width: 100%;
	float: left;
}

.lbanner {
	width: 250px;
	float: left;
}

.rbanner {
	margin-left: 250px;
	margin-right: 0px;
}

.act a {
	color: #333;
}

li.rb {
	list-style-type: none;
	width: 300px;
	height: 250px;
	float: left;
	margin-right: 50px;
	margin-bottom: 25px;
	cursor: pointer;
}

li div {
	width: 250px;
	height: 250px;
}

.fade {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.bimg {
	display: none;
	position: fixed;
	top: 10%;
	left: 25%;
	width: 50%;
	height: 80%;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}